
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
{% load adminmedia %}
{% load url from future %}
{% load static from staticfiles %}
{% load dajaxice_templatetags %}

<html>
<head>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    <script src="{{ STATIC_URL }}js/jquery-1.7.2.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/serializeObject.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/jquery.dajax.core.js" type="text/javascript" charset="utf-8"></script>


    <script src="{{ STATIC_URL }}ckeditor/ckeditor.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}ckeditor/adapters/jquery.js" type="text/javascript" charset="utf-8"></script>


    {% dajaxice_js_import %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/960.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    <style type='text/css'>
        body {        padding-top: 60px;        padding-bottom: 40px;      }
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.css">


    <link href="{{ STATIC_URL }}css/facebook.css" type="text/css" rel="stylesheet" media="all" />
    {% include 'django_facebook/_facebook_js.html' %}

    {% block extra_head %}{% endblock %}

</head>

<body id="{% block body_id %}{% endblock %}">

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Multitudz</a>
            <ul class="nav">
                <li class="active"><a href="#">Inbox</a></li>
                <li><a href="{% url 'new_thread' %}">New Thread</a></li>
                <li><a href="{% url 'new_group' %}">Groups</a></li>
                <li>
                    <form class="navbar-search" action="">
                        <input type="text" value="" class="search-query">
                    </form>
                </li>
            </ul>

            <ul class="nav pull-right">
                <li>
                    {% if user.is_authenticated %}
                    <p class="navbar-text"> {% trans 'logged in as ' %}<i> {{ user }} </i></p>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="container container_12">

    {% block main %}{% endblock %}

    {% if not user.is_authenticated %}
    <div class='fb-form'>
    </br></br>
        <form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
            <a href="javascript:void(0);" style="font-size: 20px;" onclick="F.connect(this.parentNode);">Connect with facebook</a>
            <input type="hidden" value="{{ request.path }}" name="next" />
        </form>
    </div>
    {% endif %}

    {% if messages %}
        <div id="MessagesEureca" title="Eureca Message">
            {% for message in messages %}
            {% if message.tags == 'success' %}
            <p><img src="{{ STATIC_URL }}/img/ok-icon.png"/> {{ message }}</p>
            {% endif %}
            {% if message.tags == 'warning' %}
            <p><img src="{{ STATIC_URL }}/img/alert-icon.png"/> {{ message }}</p>
            {% endif %}
            {% if message.tags == 'error' %}
            <p><img src="{{ STATIC_URL }}/img/error-icon.png"/>{{ message }}</p>
            {% endif %}

            {% endfor %}
        </div>
    {% endif %}

</div>


{% block extra_body %}{% endblock %}

</body>
</html>

