{% load i18n %}
{% load thumbnail %}
{% load humanize %}

<div class="grid_8 thread-message">
    <div class="sidebox-message grid_1">
        <div class="avatar">
            {% if message.author.get_profile.image.url  %}
                <img src="{{ STATIC_URL }}{{ message.author.get_profile.image.url|thumbnail_url:'avatar_40' }}" title="{{ message.author.first_name }} {{ message.author.last_name }}">
            {% else %}
                <img src="{{ STATIC_URL }}img/avatar_30.jpg" alt="{{ message.author.first_name }}">
            {% endif %}
        </div>

        <div class="post-author">
            {% if message.author.first_name  %}
                {{ message.author.first_name }} {{ message.author.last_name }}
            {% else %}
                {{ message.author.username }}
            {% endif %}
        </div>

        <div class="post-date">
            {{ message.post_date|naturaltime }}
        </div>

        {% if message.last_edited < message.post_date %}
            <div class="post-date">
                {% trans 'Last edited: ' %}{{ message.last_edited|naturaltime }}
            </div>
        {% endif %}
    </div>
    <div class="grid_6 box-message">{{ message.body|safe }}</div>
</div>
